// @import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yuji+Mai&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
:root{
    --color-main: #2f904b;
    --bg-main: #f3f3f3;
}
body{
    width: 100%;
    overflow-x: hidden;
    top: 0;
    left: 0;
    font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif;
    color: #393939;
    background-color: var(--bg-main);
    line-height: 1.5;
}


/* Global */
.layout{
    width: 80%;
    max-width: 90%;
    margin: 0 auto;
    position: relative; 
}
.is-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.is-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-web{
    padding: 10px 15px;
    border: none;
    background: var(--color-main);
    text-transform: uppercase;
    color: #fff;
}
a{
    text-decoration: none;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn_befor{
    padding: 5px 20px;
    text-decoration: none;
    padding-bottom: 5px;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: .3s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.btn_befor::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 35%;
    top: 0;
    z-index: -1;
    left: 0;
    -webkit-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
}
.div_skew{
    padding-top: 65px;
    padding-bottom: 92px;
    overflow: hidden;
    width: 100%;
    position: relative;
                
}
.div_skew::after, .div_skew::before{
    -webkit-transform: skew(-25deg);
    -ms-transform: skew(-25deg);
    -o-transform: skew(-25deg);
    transform: skew(-25deg);
    left: auto;
    right: -65.5%;
}
.div_skew::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #3d3d3f;
    position: absolute;
    top: 0;
    z-index: 100;
}
.div_skew::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #3d3d3f;
    position: absolute;
    top: 0;
    transform: skew(-25deg);
    margin-right: -95px;
    margin-top: -55px;
    background-color: var(--color-main);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, .5);
    z-index: 1000;
}
.frame_skew{
    transform: skew(-29deg) translateZ(0);
    display: block;
    padding: 0 15px 15px;

    a{
        box-shadow: -12px 12px 2px 1px rgba(0, 0, 0, 0.877);
        border: 8px solid var(--color-main);
        overflow: hidden;
        position: relative;
        img{
            transform: skew(29deg) scale(0.9);
            max-width: 300px;
            height: 300px;
            margin: 0 90px;
        }
    }
    a::before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        -webkit-transition: all .6s ease-in-out;
        -o-transition: all .6s ease-in-out;
        transition: all .6s ease-in-out;
    }
    a:hover img{
        transform: skew(29deg) scale(1.5);
        transition: .6s ease-in;
    }
    a:hover::before{
        background: #36353571;
    }
}
.skew_opposite{
    transform: skew(29deg) translateZ(0);
    a{
        box-shadow: 12px 12px 0 rgba(0, 0, 0, .7); 
        img{
            transform: skew(-29deg) scale(0.9);
        }
    }
    a:hover img{
        transform: skew(-29deg) scale(1.5);
        transition: .6s ease-in;
    }
    a:hover::before{
        background: #36353571;
    }
}
/** START ANIMATION */

.animation-right {
    opacity: 0;
    transform: translateX(100%); 
    transition: opacity 0.8s ease-out, transform 1.2s ease-out; 
}
.animation-right.active {
    opacity: 1;
    transform: translateX(0); 
    animation: shake 0.6s ease-out 1 1.18s; 
}
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-15px);
    }
    50% {
        transform: translateX(12px);
    }
    75% {
        transform: translateX(-7px);
    }
    100% {
        transform: translateX(0);
    }
}
.animation-top{
    opacity: 0;
    transform: translateY(30%);
    transition: all 1.8s ease-out;
}
.animation-top.active {
    opacity: 1;
    transform: translateY(0);
}

.fade-in {
    width: 0;
    opacity: 0;
    transition: opacity 3s ease-out, width 3s ease-in;
}

.fade-in.active {
    width: 100%;
    opacity: 1;
}

/* END ANIMATION */

.circle{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.253);
    cursor: pointer;
    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    i{
        font-size: 20px;
        line-height: 1.4;
        color: rgba(255, 255, 255, 0.719);
    }
}

.container_web{
    position: relative;
    width: 100%;
    min-height: 100vh;

    .on-backgr{
        background: none;
        position: absolute;
    }

    header{
        width: 100%;
        z-index: 3;
        top: 0;
        background: #000;
        left: 0;
        .header{
            padding: 10px 0;
            width: 100%;
            .layout{
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                .logo{
                    width: 90px;
                    a{
                        width: 100%;
                        height: auto;
                        img{
                            width: 100%;
                        }
                    }
                }
                .nav_wrapp{
                    padding: 0 1.5%;
                    -webkit-box-flex: 1;
                    flex: 1;
                    text-align: center;
                    min-width: 40%;
                    max-width: 55%;
                    .head_nav{
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap:10px;
                        .item_nav{
                            font-weight: 510;
                            list-style-type: none;
                            line-height: 2.2em;
                            font-size: 18px;
                            position: relative;
                            perspective: 500px;
                            text-transform: uppercase;
                            

                        }
                        .item_nav:hover .btn_befor::before{
                            background: var(--color-main);
                            transition: .5s linear;
                        }
                        .item_nav.active .btn_befor::before{
                            background-color: var(--color-main);
                        }
                    }
                }
                .head_right{
                    padding: 10px 0;
                    text-align: right;
                    .search{
                        position: relative;
                        input{
                            background: none;
                            font-size: 14px;
                            color: #fff;
                            padding: 5px 0px 5px 35px;
                            border-radius: 8px;
                            border: 1px solid var(--color-main);
                        }
                        input:focus {
                            outline: none;
                            border: 1px solid var(--color-main);
                            box-shadow: 0 0 15px rgba(47, 144, 74, 0.829);
                        }
                        i{
                            color: #fff;
                            font-size: 20px;
                            position: absolute;
                            left: 10px;
                            line-height: 1.6;
                        }
                    }
                    .caller{
                        padding: 5px 50px 5px 10px;                        border-radius: 7px;
                        background: var(--color-main);
                        text-align: left;
                        margin-left: 15px;
                        i{
                            font-size: 20px;
                            margin-right: 10px;
                            filter: invert(50%) sepia(100%) saturate(297%) hue-rotate(333deg) brightness(103%) contrast(105%);
                        }
                        .contact_phone{
                            font-size: 13px;
                            color: #fff;
                            span{
                                font-size: 18px;
                                font-weight: 600;
                            }
                        }
                    }
                }
                
            }
        }
    }
    main{
        width: 100%;
        z-index: 1;
        height: 100vh;
        /* home */
        .slider_banner{
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            // scroll-snap-type: x mandatory; 
            .item_slider{
                flex: 0 0 auto;
                width: 100%;
                aspect-ratio: 1600 / 670;
                position: relative;
                // scroll-snap-align: start;
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                } 
            }
        }
        .slider_banner::-webkit-scrollbar{
            display: none;
        }
        .introduct{
            width: 100%;
            overflow: hidden;
            .wrapper_intro{
                .heading_intro{
                    width: 50%;
                    max-width: 50%;
                    h1,h2{
                        font-size: 40px;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-family: 'Impact';
                        letter-spacing: .05em;
                    }
                    h1{
                        font-size: 70px;
                        color: var(--color-main);
                    }
                    .company_intro{
                        max-width: 80%;
                        .text_intro{
                            text-align: justify;
                            display: block;
                            margin-block-start: 1em;
                            margin-block-end: 1em;
                            margin-inline-start: 0px;
                            margin-inline-end: 0px;
                            unicode-bidi: isolate;
                            line-height: 2.5rem;
                        }
                    }
                    
                }
                .company_intro_img{
                    width: 45%;
                    margin-top: 90px;
                    z-index: 10000;
                    img{
                        width: 100%;
                        transition: transform 0.7s ease; /* Hiệu ứng mượt */
                        transform-origin: center;
                        filter: drop-shadow(1px 1px 10px var(--color-main));
                    }
                }
            }
        }
        
        .index_product{
            margin-top: 80px;
            .product_tab{
                padding-bottom: 20px;
                .tab_item{
                    width: calc(100% / 4 - 20px);
                    gap: 20px;
                    background: #000;
                    padding: 10px 0;
                    font-size: 18px;
                    font-weight: 500;
                    color: #fff;
                    text-transform: uppercase;
                    cursor: pointer;
                }
                .tab_item.active{
                    background: var(--color-main);
                }
                .tab_item:hover{
                    background: var(--color-main);
                    transition: 0.3s ease;
                }
            }
            .list_card{
                .list_card_container{
                    display: none;
                    
                }
                .list_card_container.active{
                    display: block;
                }
                
            }
        }

        .index_news{
            margin-top: 80px;
            .heading_news{
                font-size: 50px;
                font-family: 'Impact';
                color: var(--color-main);
                text-transform: uppercase;
            }
            .item_inner{
                margin-top: 30px;
                gap: 30px;
                .text_inner{
                    width: 50%;
                    max-width: 50%;
                    text-align: right;
                    .item_time{
                        font-size: 25px;
                        font-weight: 600;
                        color: #000;
                    }
                    .item_question{
                        margin-top: 20px;
                        font-weight: 500;
                        font-size: 20px;
                        color: var(--color-main);
                        text-decoration: underline;
                    }
                    p{
                        margin-top: 25px;
                        font-size: 16px;
                        line-height: 2;
                    }
                }
                .img_inner{
                    width: 50%;
                    overflow: hidden;
                    
                }
            }
        }
        .wrapper_products{
            margin-top: 25px;
            align-items: unset;
            .aside{
                width: 230px;
                display: flex;
                flex-direction: column;
                .aside_heading{
                    background-color: var(--color-main);
                    padding: 6px 0px 6px 10px;
                    font-size: 18px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: #fff;
                }
            }
            .list_aside{
                width: 100%;
                padding: 0 0 0 10px;
                .item_aside{
                    border-bottom: 1px solid #ddd;
                    position: relative;
                    .header_item_aside{
                        display: block;
                        padding: 8px 0;
                        position: relative;
                        i{
                            font-size: 16px;
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            transform: translateY(-50%);
                            cursor: pointer;
                        }
                        a{
                            color: #393939;

                        }
                    }
                    
                    .dropdown{
                        height: 0;
                        display: none;
                        position: relative;
                        left: 0;
                        padding-bottom: 6px;
                        li{
                            padding: 3px 0;
                            a{
                                color: #393939;
                                padding: 4px 10px 4px 15px;
                                margin-right: 0;
                                position: relative;
                            }
                            a::before{
                                content: '';
                                display: inline-block;
                                width: 5px;
                                height: 5px;
                                background-color: #ccc;
                                position: absolute;
                                left: 0;
                                top: 9px;
                            }
                        }
                    }
                }
                .item_aside.click .dropdown{
                    display: block;
                    height: auto;
                    transition: transform 0.3s ease, height 0.3s ease;
                }
            }
            .list_products{
                width: calc(100% - 250px);
                .wrapper_list_products{
                    width: 100%;
                }
            }
        }
        /* news */
        .wrapper_news{
            margin-top: 45px;
            background: #fff;
            padding: 0 35px 30px;
            -moz-transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            overflow: visible;
            z-index: 1;
            .list_news{
                width: 100%;
                display: block;
                .item_news{
                    width: 100%;
                    align-items: unset;
                    padding: 35px 0;
                    border-bottom: 1px solid #f2f2f2;
                    .link_news{
                        display: inline-block;
                        max-width: 200px;
                        img{
                            width: 100%;
                        }
                    }
                    .content_news{
                        display: flex;
                        flex-direction: column; 
                        text-align: left;
                        width: calc(100% - 250px);
                        .heading_title{
                            color: #393939;
                            height: 1.5em;
                            line-height: 1.5em;
                            overflow: hidden;
                            font-size: 20px;
                            font-weight: normal;
                            text-transform: capitalize;
                        }
                        time{
                            display: block;
                            font-size: 14px;
                            margin: 8px 0;
                            color: #ccc;
                        }
                        p{
                            display: -webkit-box; /* Sử dụng box layout của Webkit */
                            -webkit-line-clamp: 2; /* Số dòng tối đa */
                            -webkit-box-orient: vertical; /* Hướng box theo chiều dọc */
                            overflow: hidden; /* Ẩn phần văn bản thừa */
                            text-overflow: ellipsis; /* Thêm dấu "..." nếu bị cắt */
                            white-space: normal;
                            max-width: calc(100% - 10px);
                        }
                        .read_more{
                            align-self: flex-end;
                            margin-right: 20px; /* Đưa button ra bên phải */
                            padding: 0.2rem 1.2rem;
                            background-color: var(--color-main);
                            color: #fff;
                            border-radius: .5em;
                            border: none;
                            text-transform: uppercase;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .wrapper_detail_news{
            padding: 0 80px;
            margin-top: 30px;
            h3{
                color: #333;
                font-size: 22px;
                padding-bottom: 10px;
                margin-bottom: 10px;
                text-transform: capitalize;
            }
            .content{
                width: 100%;
                text-align: left;
                p{
                    margin: 0;
                    padding: 8px 0;
                    font-size: 16px;
                    line-height: 1.8;
                }
                img{
                    width: 100%;
                    object-fit: cover;
                }
                hr{
                    height: 1px;
                    border: none;
                    border-top: 1px dashed #5a5757;
                    margin: 25px 0 15px 0;
                }
            }
        }
        /* about us*/
        .wrapper_about{
            width: 100%;
            background: #fff;
            padding: 20px 0px;
            .layout{
                align-items: unset;
                .title_about{
                    max-width: 55%;
                    width: 50%;
                    .heading{
                        font-family: "Poppins", sans-serif;
                        font-weight: 600;
                        text-align: left;
                        font-size: 28px;
                        line-height: 1.4;
                        color: #0a0a0a;
                    }
                    .divider{
                        width: 100%;
                        justify-content: flex-start;
                        .line{
                            width: 15%;
                            border: 1px solid var(--color-main);
                            height: 1px;
                        }
                    }
                    .content{
                        margin: 15px 0 0 0;
                        padding: 8px 0;
                        font-size: 16px;
                        line-height: 1.8;
                        display: -webkit-box; /* Sử dụng box layout của Webkit */
                        -webkit-line-clamp: 4; /* Số dòng tối đa */
                        -webkit-box-orient: vertical; /* Hướng box theo chiều dọc */
                        overflow: hidden; /* Ẩn phần văn bản thừa */
                        text-overflow: ellipsis; /* Thêm dấu "..." nếu bị cắt */
                        white-space: normal;
                    }
                    .quality_group{
                        width: 100%;
                        margin-top: 20px;
                        .item_quality{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 17px;
                            font-weight: 500;
                            i{
                                font-size: 30px;
                                margin-right: 15px;
                                color: var(--color-main);
                            }
                        }
                    }
                }
            }
            .wrapp_image_about{
                width: 45%;
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
            .heading-custumer{
                width: 100%;
                font-family: "Poppins", sans-serif;
                font-weight: 600;
                font-size: 28px;
                line-height: 1.4;
                color: #0a0a0a;
            }
            .divider{
                width: 100%;
                .line{
                    width: 10%;
                    height: 1px;
                    border: 1px solid var(--color-main);
                    margin: 20px 0;
                }
            }
            .environment_list{
                width: 100%;
                display: flex;
                gap: 30px;
                justify-content: space-between;
                align-items: center;
                .item_environment{
                    width: calc(100% / 3 - 20px);
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

        }
        .btn-contact-us{
            width: 100%;
            a{
                padding: 10px 15px;
                border: 2px solid var(--color-main);
                background: none;
                font-size: 18px;
                font-weight: 550;
                border-radius: 8px;
                color: var(--color-main);
                i{
                    color: var(--color-main);
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
        }
        .content_container{
            width: 100%;
            .wrapper{
                padding-top: 70px;
                padding-bottom: 83px;
                margin-top: 50px;
                margin-bottom: 40px;
                .content{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    .title{
                        font-family: "Poppins", sans-serif;
                        font-weight: 600;
                        font-size: 28px;
                        line-height: 1.4;
                        color: #0a0a0a;
                    }
                    .divider{
                        width: 10%;
                        padding: 20px 0;
                        .line{
                            width: 100%;
                            height: 1px;
                            border: 1px solid var(--color-main);
                        }
                    }
                    p{
                        text-align: center;
                        padding: 8px 0;
                        font-size: 16px;
                        line-height: 1.8;
                        display: -webkit-box; /* Sử dụng box layout của Webkit */
                        -webkit-line-clamp: 4; /* Số dòng tối đa */
                        -webkit-box-orient: vertical; /* Hướng box theo chiều dọc */
                        overflow: hidden; /* Ẩn phần văn bản thừa */
                        text-overflow: ellipsis; /* Thêm dấu "..." nếu bị cắt */
                        white-space: normal;
                    }
                    .environment_list{
                        width: 100%;
                        display: flex;
                        gap: 20px;
                        justify-content: space-between;
                        margin-top: 20px;
                    }
                }
            }
        }

        /* contact */
        .name_company{
            font-family: "Poppins,", sans-serif;
            font-weight: 600;
            font-size: 24px;
            color: var(--color-main);
        }
        .sub_title{
            font-family: "Poppins,", sans-serif;
            font-weight: 600;
            color: #0a0a0a;
            font-size: 18px
        }
        .title_form{
            width: 100%;
            background: var(--color-main);
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            padding: 0 20px;
            font-weight: normal;
            color: #fff;
            margin: 0;
            margin-top: 20px;
        }
        .form_contact{
            width: 100%;
            background: #fff;
            height: 390px;
            ul{
                width: 100%;
                padding: 20px 20px 5px;
                li{
                    position: relative;
                    width: 100%;
                    margin: 0 0 14px;
                    display: flex;
                    min-height: auto;
                    line-height: 40px;
                    input{
                        border: 1px solid #eee;
                        border-left: 3px solid #013e5a;
                        height: 39px;
                        padding: 0 10px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 13px;
                        position: relative;
                        width: 100%;
                    }
                    .submit{
                        border: none;
                        background: var(--color-main);
                        color: #fff;
                        font-size: 15px;
                    }
                    textarea{
                        height: 95px;
                        padding: 10px;
                        resize: none;
                        border: 1px solid #eee;
                        border-left: 3px solid #013e5a;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 13px;
                        width: 100%;
                    }
                }
            }
        }
        .infor_list{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .item_infor{
                display: flex;
                align-items: center;
                i{
                    font-size: 25px;
                    color: var(--color-main);
                    margin-right: 15px;
                }
            }
        }
        .divider_contact{
            height: 1px;
            border: none;
            border-top: 1px dashed #c1c1c1;
            margin: 15px 0 15px 0;
        }
        .sub_text{
            margin-top: 15px;
            width: 100%;
            p{
                line-height: 1.5;
                margin: 0;
                padding: 8px 0;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.8;
            }
        }
        .wrapper_infor_product{
            position: relative;
            margin-top: 20px;
            padding: 50px 70px;
            .information_product{
                display: flex;
                gap: 30px;
                width: 100%;
                .level_left{
                    max-width: 45%;
                    width: 45%;
                    .wrapper_img_product{
                        width: 100%;
                        position: relative;
                        overflow: hidden;
                        img{
                            width: 100%;
                            object-fit: cover;
                            cursor: pointer;
                        }
                        
                        &::before{
                            content: '';
                            position: absolute;
                            background: #201f1f42; 
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            opacity: 0;
                            transition: 0.6s ease-in;
                        }
                        &::before:hover{
                            opacity: 1;
                            background: #3b3a3a81;
                        }
        
                    }
                    .wrapper_img_product:hover img{
                        transition: 0.6s ease-in;
                        transform: scale(1.2);
                        z-index: 1;
                    }
                    .wrapper_img_product:hover::before{
                        opacity: 1;
                        z-index: 2;
                    }
                    .wrapper_list_img_product{
                        width: 100%;
                        gap: 20px;
                        margin-top: 20px;
                        li{
                            width: calc(100% / 4 - 20px);
                            img{
                                width: 100%;
                                object-fit: cover;
                                border: 1px solid transparent;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .wrapper_detail_infor{
                    width: 50%;
                    max-width: 50%;
    
                    h3{
                        font-size: 28px;
                        font-weight: 500;
                    }
                    .sub_heading{
                        font-size: 18px;
                        font-weight: 500;
                    }
                    h3, .sub_heading{
                        display: -webkit-box; /* Sử dụng box layout của Webkit */
                        -webkit-line-clamp: 2; /* Số dòng tối đa */
                        -webkit-box-orient: vertical; /* Hướng box theo chiều dọc */
                        overflow: hidden; /* Ẩn phần văn bản thừa */
                        text-overflow: ellipsis; /* Thêm dấu "..." nếu bị cắt */
                        white-space: normal;
                    }
                    .specifications{
                        width: 100%;
                        padding-top: 20px;
                        .items_specifications{
                            color: #0a0a0a86;
                            width: 100%;
                            display: flex;
                            height: 30px;
                            justify-content: space-between;
                            .text_right{
                                width: 60%;
                                text-align: left;
                                display: -webkit-box; /* Sử dụng box layout của Webkit */
                                -webkit-line-clamp: 1; /* Số dòng tối đa */
                                -webkit-box-orient: vertical; /* Hướng box theo chiều dọc */
                                overflow: hidden; /* Ẩn phần văn bản thừa */
                                text-overflow: ellipsis; /* Thêm dấu "..." nếu bị cắt */
                                white-space: normal;
                            }
                        }
                    }
                    .option_products{
                        gap: 20px;
                        justify-content: start !important; 
                        margin-top: 80px;
                        .option{
                            border-radius: 8px;
                        }
                    }
                }
            }
            .detail_infor{
                width: 100%;
                background: #fff;
                margin-top: 30px;
                .heading{
                    width: 100%;
                    background-color: #DBDBDB;
                    h3{
                        padding: 10px;
                        text-transform: uppercase;
                        font-size: 18px;
                        margin: 0;
                        background: #fff;
                        font-weight: 600;
                    }
                    .backgr_bluer{
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                }
                .display_product{
                    width: 100%;
                    padding: 0 30px;
                    margin-top: 70px;
                    .heading_detail{
                        padding: 10px 0;
                        position: relative;
                        border-bottom: 1px solid var(--color-main);
                        h3{
                            font-size: 25px;
                            color: var(--color-main);
                            font-weight: 600;
                        }
                        
                    }
                    .heading_detail::after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 10%;
                        border-bottom: 5px solid var(--color-main);
                    }
                    .list_img_detail{
                        width: 100%;
                        display: flex;
                        img{
                            width: calc(100% / 3);
                            object-fit: cover;
                        }
                    }
                    p{
                        margin: 0;
                        padding: 8px 0;
                        font-size: 16px;
                        line-height: 1.8;
                        font-size: 16px;
                        span{
                            color: blue;
                            font-size: 18px;
                        }
                    }
                    hr {
                        height: 1px;
                        border: none;
                        border-top: 1px dashed #0e0c0c;
                        margin: 15px 0 15px 0;
                    }
                }
            }
        }
        .logo_detail, .suggest_products{
            width: 100%;
            
        }
        .logo_detail{
            h2{
                font-family: "Yuji Mai", serif;
                color: #1d1f1e8c;
                font-size: 30px;
                font-weight: 600;
            }
        }
        .suggest_products{
            h3{
                font-family: 'Impact';
                letter-spacing: .05em;
                font-size: 48px;
                line-height: 1.2em;
                text-transform: uppercase;
                font-weight: normal;
                color: var(--color-main);
            }
        }
        .list_suggest_img{
            width: 100%;
        }
    }
    footer{
        width: 100%;
        margin-top: 30px;
        background: #000;
        padding-top: 20px;
        .company_subscribe{
            max-width: 80%;
            padding-bottom: 15px;
            border-bottom: 1.5px solid var(--color-main);
            margin: 0 auto;
            .subscribe_title{
                text-align: center;
                font-size: 16px;
                color: #ffffffc2;
            }
            .btn-footer{
                margin-top: 20px;
                border-radius: 10px;
                padding: 5px 20px;
                font-weight: 550;
                background-image: linear-gradient(to right, var(--color-main) 30%, #5fe786 70%, #303030 100%);
                box-shadow: 0 3px 3px rgba(255, 255, 255, .15) inset, -1px -1px 3px rgba(0, 0, 0, .5) inset;
            }
            .btn-footer:hover{
                background-image: linear-gradient(to left, var(--color-main) 30%, #5fe786 100%, #303030 100%);
            }
        }
        .footer_contact_list{
            width: 85%;
            margin: 0 auto 15px;
            text-align: center;
            padding-top: 8px;
            ul{
                width: 100%;
                .item_address{
                    width: calc(100% / 3 - 30px);
                    gap: 30px;
                    color: #ffffffa8;
                    i{
                        font-size: 20px;
                    }
                }
            }
        }
        .foot_sns{
            gap: 10px;
            .logo_contact{
                border-radius: 50%;
                width: 40px;
                height: 40px;
                overflow: hidden;
                cursor: pointer;
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        .foot_bar{
            margin-top: 30px;
            width: 100%;
            background: var(--color-main);
            color: #fff;
            font-size: 17px;
            padding: 10px 0;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 17px;
            }
        }

    }
}

/* template page_number */
.page_bar{
    position: relative;
    line-height: 31px;
    height: 33px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: 14px;
    gap: 10px;
    .next, .next_all, .current, .number_page{
        text-align: center;
        padding: 0px 10px;
        border: 1px solid #d2d2d2;
        background: none;
        color: #393939;
        text-align: center;
        border-radius: 5px;
    }
    .number_page.active{
        color: #fff;
        background: var(--color-main);
        border: none;
    }
    .number_page{
        width: 33px;
        padding: 0;
    }
    
    .next:hover, .next_all:hover,.number_page:hover {
        color: #fff;
        background: var(--color-main);
        border: 1px solid #f3f3f3;
        transition: 0.3s ease;
    } 
    .current{
        cursor: unset;
    }
}

/* name product */
.title_product{
    padding: 10px 0 0 0;
    text-align: center;
    a{
        font-size: 17px;
        color: #393939;
    }
}
.arrow_card{
    .item_card{
        width: calc(100% / 4 - 20px);
        .wrapper_img{
            position: relative;
            width: 100%;
            display: inline-block;
            overflow: hidden;
            i{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: 40px;
                color: white;
                display: none;
            }
            img{
                display: inline-block;
                width: 100%;
                object-fit: cover;
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #201f1f42; 
                opacity: 0; 
                transition: opacity 0.4s ease-in;
                z-index: 1;
            }
        }
        .wrapper_img:hover img{
            transform: scale(1.2);
            transition: 0.4s ease-in;
        }
        .wrapper_img:hover i{
            display: block;
            transition: 0.4s ease-in;
        }
        .wrapper_img:hover::before {
            opacity: 1; 
        }
    }
}


