// @import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
body{
    width: 100%;
    overflow-x: hidden;
    top: 0;
    left: 0;
    font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif;
    color: #393939;
    background-color: #f3f3f3;
    line-height: 1.5;
}
/* Global */
.layout{
    width: 1400px;
    margin: 0 auto;
    position: relative; 
}
.is-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.is-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-web{
    padding: 10px 15px;
    border: none;
    background: #2f904b;
    text-transform: uppercase;
    color: #fff;
}
a{
    text-decoration: none;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container_web{
    position: relative;
    width: 100%;
    min-height: 100vh;

    .on-backgr{
        background: none;
        position: absolute;
    }

    header{
        width: 100%;
        z-index: 3;
        top: 0;
        background: #000;
        left: 0;
        .header{
            padding: 10px 0;
            width: 100%;
            .layout{
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                .logo{
                    a{
                        width: 100%;
                        height: auto;
                        img{
                            width: 120px;
                        }
                    }
                }
                .nav_wrapp{
                    padding: 0 1.5%;
                    -webkit-box-flex: 1;
                    flex: 1;
                    text-align: center;
                    min-width: 40%;
                    max-width: 55%;
                    .head_nav{
                        text-align: center;
                        .item_nav{
                            padding: 0 10px;
                            font-weight: 510;
                            list-style-type: none;
                            line-height: 2.8em;
                            font-size: 18px;
                            position: relative;
                            perspective: 500px;
                            text-transform: uppercase;
                            a{
                                text-decoration: none;
                                padding-bottom: 5px;
                                color: #fff;
                                border-bottom: 2px solid transparent;
                                transition: .3s ease-in;

                            }
                        }
                        .item_nav:hover a{
                            border-bottom: 2px solid #2f904b;
                        }
                        .item_nav.active a{
                            border-bottom: 2px solid #2f904b;
                        }
                    }
                }
                .head_right{
                    padding: 10px 0;
                    text-align: right;
                    .search{
                        position: relative;
                        input{
                            background: none;
                            font-size: 14px;
                            color: #fff;
                            padding: 5px 0px 5px 25px;
                            border-radius: 8px;
                            border: 1px solid #2f904b;
                        }
                        input:focus {
                            outline: none;
                            border: 1px solid #2f904b;
                        }
                        i{
                            color: #fff;
                            font-size: 20px;
                            position: absolute;
                            left: 4px;
                        }
                    }
                    .caller{
                        padding: 5px 50px 5px 10px;                        border-radius: 7px;
                        background: #2f904b;
                        text-align: left;
                        margin-left: 15px;
                        i{
                            font-size: 20px;
                            margin-right: 10px;
                            filter: invert(50%) sepia(100%) saturate(297%) hue-rotate(333deg) brightness(103%) contrast(105%);
                        }
                        .contact_phone{
                            font-size: 13px;
                            color: #fff;
                            span{
                                font-size: 18px;
                                font-weight: 600;
                            }
                        }
                    }
                }
                
            }
        }
    }
    main{
        width: 100%;
        z-index: 1;
        height: 100vh;
        /* home */
        .slider_banner{
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            // scroll-snap-type: x mandatory; 
            .item_slider{
                flex: 0 0 auto;
                width: 100%;
                aspect-ratio: 1600 / 670;
                position: relative;
                // scroll-snap-align: start;
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                } 
            }
        }
        .slider_banner::-webkit-scrollbar{
            display: none;
        }
        .introduct{
            margin-top: 40px;
            .heading_intro{
                max-width: 50%;
                h1,h2{
                    font-size: 40px;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-family: 'Impact';
                    letter-spacing: .05em;
                }
                h1{
                    color: #2f904b;
                }
                .company_intro{
                    max-width: 80%;
                    .text_intro{
                        text-align: left;
                        display: block;
                        margin-block-start: 1em;
                        margin-block-end: 1em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        unicode-bidi: isolate;
                        line-height: 2.5rem;
                    }
                }
                
            }
            .company_intro_img{
                width: 100%;
                img{
                    width: 100%;
                    transition: transform 0.7s ease; /* Hiệu ứng mượt */
                    transform-origin: center;
                    filter: drop-shadow(1px 1px 15px #2f904b);
                }
            }
            .company_intro_img:hover img{
                transform: rotateY(180deg);
            }
        }
        .index_product{
            margin-top: 80px;
            .product_tab{
                padding-bottom: 20px;
                .tab_item{
                    width: calc(100% / 4 - 20px);
                    gap: 20px;
                    background: #000;
                    padding: 10px 0;
                    font-size: 18px;
                    font-weight: 500;
                    color: #fff;
                    text-transform: uppercase;
                    cursor: pointer;
                }
                .tab_item.active{
                    background: #2f904b;
                }
                .tab_item:hover{
                    background: #2f904b;
                    transition: 0.3s ease;
                }
            }
            .list_card{
                .list_card_container{
                    display: none;
                    .arrow_card{
                        .item_card{
                            width: calc(100% / 4 - 20px);
                            .wrapper_img{
                                position: relative;
                                width: 100%;
                                display: inline-block;
                                overflow: hidden;
                                img{
                                    display: inline-block;
                                    width: 100%;
                                    object-fit: cover;
                                }
                                &::before {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: #201f1f42; 
                                    opacity: 0; 
                                    transition: opacity 0.4s ease-in;
                                    z-index: 1;
                                }
                            }
                            .wrapper_img:hover img{
                                transform: scale(1.2);
                                transition: 0.4s ease-in;
                            }
                            .wrapper_img:hover::before {
                                opacity: 1; 
                            }
                        }
                        
                        
                        
                    }
                }
                .list_card_container.active{
                    display: block;
                }
                
            }
        }

        .index_news{
            margin-top: 80px;
            .heading_news{
                font-size: 50px;
                font-family: 'Impact';
                color: #2f904b;
                text-transform: uppercase;
            }
            .item_inner{
                margin-top: 30px;
                gap: 30px;
                .text_inner{
                    width: 50%;
                    max-width: 50%;
                    text-align: right;
                    .item_time{
                        font-size: 25px;
                        font-weight: 600;
                        color: #000;
                    }
                    .item_question{
                        margin-top: 20px;
                        font-weight: 500;
                        font-size: 20px;
                        color: #2f904b;
                        text-decoration: underline;
                    }
                    p{
                        margin-top: 25px;
                        font-size: 16px;
                        line-height: 2;
                    }
                }
                .img_inner{
                    width: 50%;
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        /* products */
        .wrapper_products{
            margin-top: 25px;
            align-items: unset;
            .aside{
                width: 230px;
                display: flex;
                flex-direction: column;
                .aside_heading{
                    background-color: #2f904b;
                    padding: 6px 0px 6px 10px;
                    font-size: 18px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: #fff;
                }
            }
            .list_aside{
                width: 100%;
                padding: 0 0 0 10px;
                .item_aside{
                    border-bottom: 1px solid #ddd;
                    position: relative;
                    .header_item_aside{
                        display: block;
                        padding: 8px 0;
                        position: relative;
                        i{
                            font-size: 16px;
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            transform: translateY(-50%);
                            cursor: pointer;
                        }
                        a{
                            color: #393939;

                        }
                    }
                    
                    .dropdown{
                        height: 0;
                        display: none;
                        position: relative;
                        left: 0;
                        padding-bottom: 6px;
                        li{
                            padding: 3px 0;
                            a{
                                color: #393939;
                                padding: 4px 10px 4px 15px;
                                margin-right: 0;
                                position: relative;
                            }
                            a::before{
                                content: '';
                                display: inline-block;
                                width: 5px;
                                height: 5px;
                                background-color: #ccc;
                                position: absolute;
                                left: 0;
                                top: 9px;
                            }
                        }
                    }
                }
                .item_aside.click .dropdown{
                    display: block;
                    height: auto;
                    transition: transform 0.3s ease, height 0.3s ease;
                }
            }
            .list_products{
                width: calc(100% - 250px);
                .wrapper_list_products{
                    width: 100%;
                    ul{
                        display: flex;
                        justify-content: space-between;
                        gap: 30px;
                        .item_product{
                            width: calc(100% / 4 - 30px);
                            img{
                                width: 100%;
                                object-fit: cover;
                            }
                            
                        }
                    }
                    
                }
            }
        }
        /* news */
        .wrapper_news{
            margin-top: 45px;
            background: #fff;
            padding: 0 35px 30px;
            -moz-transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            overflow: visible;
            z-index: 1;
            .list_news{
                width: 100%;
                display: block;
                .item_news{
                    width: 100%;
                    align-items: unset;
                    padding: 35px 0;
                    border-bottom: 1px solid #f2f2f2;
                    .link_news{
                        display: inline-block;
                        max-width: 200px;
                        img{
                            width: 100%;
                        }
                    }
                    .content_news{
                        display: flex;
                        flex-direction: column; 
                        text-align: left;
                        width: calc(100% - 250px);
                        .heading_title{
                            color: #393939;
                            height: 1.5em;
                            line-height: 1.5em;
                            overflow: hidden;
                            font-size: 20px;
                            font-weight: normal;
                            text-transform: capitalize;
                        }
                        time{
                            display: block;
                            font-size: 14px;
                            margin: 8px 0;
                            color: #ccc;
                        }
                        p{
                            display: -webkit-box; /* Sử dụng box layout của Webkit */
                            -webkit-line-clamp: 2; /* Số dòng tối đa */
                            -webkit-box-orient: vertical; /* Hướng box theo chiều dọc */
                            overflow: hidden; /* Ẩn phần văn bản thừa */
                            text-overflow: ellipsis; /* Thêm dấu "..." nếu bị cắt */
                            white-space: normal;
                            max-width: calc(100% - 10px);
                        }
                        .read_more{
                            align-self: flex-end;
                            margin-right: 20px; /* Đưa button ra bên phải */
                            padding: 0.2rem 1.2rem;
                            background-color: #2f904b;
                            color: #fff;
                            border-radius: .5em;
                            border: none;
                            text-transform: uppercase;
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        /* about us*/
        .wrapper_about{
            width: 100%;
            background: #fff;
            padding: 20px 0px;
            .layout{
                align-items: unset;
                .title_about{
                    max-width: 55%;
                    width: 50%;
                    .heading{
                        font-family: "Poppins", sans-serif;
                        font-weight: 600;
                        text-align: left;
                        font-size: 28px;
                        line-height: 1.4;
                        color: #0a0a0a;
                    }
                    .divider{
                        width: 100%;
                        justify-content: flex-start;
                        .line{
                            width: 15%;
                            border: 1px solid #2f904b;
                            height: 1px;
                        }
                    }
                    .content{
                        margin: 15px 0 0 0;
                        padding: 8px 0;
                        font-size: 16px;
                        line-height: 1.8;
                        display: -webkit-box; /* Sử dụng box layout của Webkit */
                        -webkit-line-clamp: 4; /* Số dòng tối đa */
                        -webkit-box-orient: vertical; /* Hướng box theo chiều dọc */
                        overflow: hidden; /* Ẩn phần văn bản thừa */
                        text-overflow: ellipsis; /* Thêm dấu "..." nếu bị cắt */
                        white-space: normal;
                    }
                    .quality_group{
                        width: 100%;
                        margin-top: 20px;
                        .item_quality{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 17px;
                            font-weight: 500;
                            i{
                                font-size: 30px;
                                margin-right: 15px;
                                color: #2f904b;
                            }
                        }
                    }
                }
            }
            .wrapp_image_about{
                width: 45%;
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
            .heading-custumer{
                width: 100%;
                font-family: "Poppins", sans-serif;
                font-weight: 600;
                font-size: 28px;
                line-height: 1.4;
                color: #0a0a0a;
            }
            .divider{
                width: 100%;
                .line{
                    width: 10%;
                    height: 1px;
                    border: 1px solid #2f904b;
                    margin: 20px 0;
                }
            }
            .environment_list{
                width: 100%;
                display: flex;
                gap: 30px;
                justify-content: space-between;
                align-items: center;
                .item_environment{
                    width: calc(100% / 3 - 20px);
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

        }
        .btn-contact-us{
            width: 100%;
            a{
                padding: 10px 15px;
                border: 2px solid #2f904b;
                background: none;
                font-size: 18px;
                font-weight: 550;
                border-radius: 8px;
                color: #2f904b;
                i{
                    color: #2f904b;
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
        }
        .content_container{
            width: 100%;
            .wrapper{
                padding-top: 70px;
                padding-bottom: 83px;
                margin-top: 50px;
                margin-bottom: 40px;
                .content{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    .title{
                        font-family: "Poppins", sans-serif;
                        font-weight: 600;
                        font-size: 28px;
                        line-height: 1.4;
                        color: #0a0a0a;
                    }
                    .divider{
                        width: 10%;
                        padding: 20px 0;
                        .line{
                            width: 100%;
                            height: 1px;
                            border: 1px solid #2f904b;
                        }
                    }
                    p{
                        text-align: center;
                        padding: 8px 0;
                        font-size: 16px;
                        line-height: 1.8;
                        display: -webkit-box; /* Sử dụng box layout của Webkit */
                        -webkit-line-clamp: 4; /* Số dòng tối đa */
                        -webkit-box-orient: vertical; /* Hướng box theo chiều dọc */
                        overflow: hidden; /* Ẩn phần văn bản thừa */
                        text-overflow: ellipsis; /* Thêm dấu "..." nếu bị cắt */
                        white-space: normal;
                    }
                    .environment_list{
                        width: 100%;
                        display: flex;
                        gap: 20px;
                        justify-content: space-between;
                        margin-top: 20px;
                    }
                }
            }
        }

        /* contact */
        .name_company{
            font-family: "Poppins,", sans-serif;
            font-weight: 600;
            font-size: 24px;
            color: #2f904b;
        }
        .sub_title{
            font-family: "Poppins,", sans-serif;
            font-weight: 600;
            color: #0a0a0a;
            font-size: 18px
        }
        .title_form{
            width: 100%;
            background: #2f904b;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            padding: 0 20px;
            font-weight: normal;
            color: #fff;
            margin: 0;
            margin-top: 20px;
        }
        .form_contact{
            width: 100%;
            background: #fff;
            height: 390px;
            ul{
                width: 100%;
                padding: 20px 20px 5px;
                li{
                    position: relative;
                    width: 100%;
                    margin: 0 0 14px;
                    display: flex;
                    min-height: auto;
                    line-height: 40px;
                    input{
                        border: 1px solid #eee;
                        border-left: 3px solid #013e5a;
                        height: 39px;
                        padding: 0 10px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 13px;
                        position: relative;
                        width: 100%;
                    }
                    .submit{
                        border: none;
                        background: #2f904b;
                        color: #fff;
                        font-size: 15px;
                    }
                    textarea{
                        height: 95px;
                        padding: 10px;
                        resize: none;
                        border: 1px solid #eee;
                        border-left: 3px solid #013e5a;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 13px;
                        width: 100%;
                    }
                }
            }
        }
        .infor_list{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .item_infor{
                display: flex;
                align-items: center;
                i{
                    font-size: 25px;
                    color: #2f904b;
                    margin-right: 15px;
                }
            }
        }
        .divider_contact{
            height: 1px;
            border: none;
            border-top: 1px dashed #c1c1c1;
            margin: 15px 0 15px 0;
        }
        .sub_text{
            margin-top: 15px;
            width: 100%;
            p{
                line-height: 1.5;
                margin: 0;
                padding: 8px 0;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.8;
            }
        }
    }
    footer{
        width: 100%;
        margin-top: 30px;
        background: #000;
        padding-top: 20px;
        .company_subscribe{
            max-width: 80%;
            padding-bottom: 15px;
            border-bottom: 1.5px solid #2f904b;
            margin: 0 auto;
            .subscribe_title{
                text-align: center;
                font-size: 16px;
                color: #ffffffc2;
            }
            .btn-footer{
                margin-top: 20px;
                border-radius: 10px;
                padding: 5px 20px;
                font-weight: 550;
                background-image: linear-gradient(to right, #2f904b 30%, #5fe786 70%, #303030 100%);
                box-shadow: 0 3px 3px rgba(255, 255, 255, .15) inset, -1px -1px 3px rgba(0, 0, 0, .5) inset;
            }
        }
        .footer_contact_list{
            width: 85%;
            margin: 0 auto 15px;
            text-align: center;
            padding-top: 8px;
            ul{
                width: 100%;
                .item_address{
                    width: calc(100% / 3 - 30px);
                    gap: 30px;
                    color: #ffffffa8;
                    i{
                        font-size: 20px;
                    }
                }
            }
        }
        .foot_sns{
            gap: 10px;
            .logo_contact{
                border-radius: 50%;
                width: 40px;
                height: 40px;
                overflow: hidden;
                cursor: pointer;
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        .foot_bar{
            margin-top: 30px;
            width: 100%;
            background: #2f904b;
            color: #fff;
            font-size: 17px;
            padding: 10px 0;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 17px;
            }
        }

    }
}

/* template page_number */
.page_bar{
    position: relative;
    line-height: 31px;
    height: 33px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: 14px;
    gap: 10px;
    .next, .next_all, .current, .number_page{
        text-align: center;
        padding: 0px 10px;
        border: 1px solid #d2d2d2;
        background: none;
        color: #393939;
        text-align: center;
        border-radius: 5px;
    }
    .number_page.active{
        color: #fff;
        background: #2f904b;
        border: none;
    }
    .number_page{
        width: 33px;
        padding: 0;
    }
    
    .next:hover, .next_all:hover,.number_page:hover {
        color: #fff;
        background: #2f904b;
        border: 1px solid #f3f3f3;
        transition: 0.3s ease;
    } 
    .current{
        cursor: unset;
    }
}

/* name product */
.title_product{
    padding: 10px 0 0 0;
    text-align: center;
    a{
        font-size: 17px;
        color: #393939;
    }
}
