@media screen and (max-width: 1576px){
    .nav_wrapp{
        max-width: 57% !important;
    }
    .img_inner{
        overflow: unset !important;
    }
}

@media screen and (max-width: 1518px){
    .nav_wrapp{
        max-width: 58% !important;
    }
    
}

@media screen and (max-width: 1490px){
    .nav_wrapp{
        max-width: 59% !important;
    }
    .frame_skew{
        img{
            margin: 0 45px !important;
        }
    }
}

@media screen and (max-width: 1464px){
    .nav_wrapp{
        max-width: 70% !important;
    }
}
@media screen and (max-width: 1315px){
    .frame_skew{
        img{
            width: 250px !important;
            height: 250px !important;
        }
    }
    .wrapper_about{
        .layout{
            display: block;
            .line{
                margin: 5px 0 !important;
            }
            .title_about{
                width: 100% !important;
                max-width: 100% !important;
            }
            .wrapp_image_about{
                width: 100% !important;
                max-width: 100% !important;
            }
            .content{
                margin: 5px 0 0 0 !important;
            }
        }
    }
}

@media screen and (max-width: 1240px){
    .nav_wrapp{
        max-width: 85% !important;
    }
    .search input{
        padding: 5px 0px 5px 35px !important;
    }
    .frame_skew{
        img{
            margin: 0 15px !important;
        }
    }
}

@media screen and (max-width: 1228px){
    .wrapper_about{
        .quality_group{
            margin-top: 5px !important;
            flex-direction: column;
            .item_quality{
                width: 100%;
                justify-content: start !important;
            }
            i{
                font-size: 20px !important;
            }
        }
    }
    .search{
        input{
            display: none;
        }
        i{
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
    .nav_wrapp{
        padding: 0 !important;
    } 
    .items_specifications{
        .text_right{
            width: 40% !important;
        }
    }
}
@media screen and (max-width: 1068px){
    .frame_skew{
        img{
            margin: 0 !important;
            width: 250px !important;
            height: 250px !important;
        }
    }
}
@media screen and (max-width: 1000px){
    .menu_nav_bar{
        display: block;
    }
    .wrapper_infor_product{
        padding: 0 !important;
        .wrapper_list_img_product {
            gap: 5px !important;
            .img-js-product {
                width: 25% !important;
            }
        }
    }
    .nav_wrapp{
        display: none;
    }
    .head_right{
        width: 50%;
        max-width: 60%;
        padding: 0 !important;
    }
    .search{
        width: 100%;
        input{
            display: block;
            width: 100%;
        }
        i{
            left: 10px;
        }
    }
    .frame_skew{
        transform: unset !important;
        width: 100% !important;
        img{
            transform: unset !important;
            margin: 0 !important;
            width: 250px !important;
            height: 250px !important;
        }
    }
    .text_inner{
        p{
            text-align: justify;
        }
    }
    .company_subscribe{
        flex-direction: column;
        display: flex;
        justify-content: center;
        li{
            width: 100% !important;
            text-align: left;
            display: block;
        }
        span{
            br{
                display: none;
            }
        }
    }
}
@media screen and (max-width: 816px){
    .option_products{
        display: block !important;
        margin-top: 20px !important;
        .option{
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 803px){
    .product_tab{
        flex-direction: column !important;
        gap: 5px;
        .tab_item {
            width: 100% !important;
            text-align: center;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }
    }
    .company_intro_img,.wrapper_intro::after,.wrapper_intro::before{
        display: none;
    }
    .heading_intro{
        width: 100% !important;
        max-width: 100% !important;
        .company_intro{
            max-width: 100% !important;
        }
    }
    .arrow_card{
        gap: 5px;
    }
    .arrow_card .item_card {
        width: 25%;
    }
    .div_skew{
        padding-bottom: 10px !important;
    }
    .aside{
        display: none !important;
    }
    .list_products{
        width: 100% !important;
    }
    
    .content_container{
        .wrapper{
            padding-top: 30px !important;
            padding-bottom: 40px !important;
            margin-top: 30px !important;
            margin-bottom: 10px !important;
        }
    }
}
@media screen and (max-width: 675px){
    .layout{
        width: 95% !important;
    }
    .title_product{
        a{
            display: none;
        }
    }
    .item_inner {
        display: block;
        .item_question,.item_time{
            text-align: left;
        }
        .text_inner{
            width: 100% !important;
            max-width: 100% !important;
        }
        .img_artle{
            display: block;
        }
        .img_inner_frist{
            display: none;
        }
        .item_inner {
            width: 100%;
        }
        .img_inner{
            width: 100% !important;
            margin-bottom: 30px !important;
        }
        .index_news, .heading_news{
            text-align: center !important;
        }
        .item_question{
            margin-top: 5px !important;
        }
        
    }
    .logo{
        width: 60px !important;
    }
    
    .on-backgr{
        background: black !important;
        position: fixed !important;
    }
    .environment_list{
        gap: 5px !important;
    }
    .slider_banner{
        margin-top: 90px;
    }
    .information_product{
        display: block !important;
        .level_left, .wrapper_detail_infor{
            width: 100% !important;
            max-width: 100% !important;
        }
        .wrapper_detail_infor{
            margin-top: 20px;
        }
    }
}
@media screen and (max-width: 566px){
    .heading_intro{
        h1{
            font-size: 40px !important;
        }
        h2{
            font-size: 30px !important;
        }
    } 
    .heading_news{
        font-size: 30px !important;
    }
    .wrapper_news{
        margin-top: 0 !important;
        padding: 10px 10px 10px 20px !important;
    }
}
@media screen and (max-width: 535px){
    .item_news a img{
        display: none;
    }
    .content_news{
        width: 100% !important;
    }
}

@media screen and (max-width: 443px){
    .page_bar{
        .next, .current{
            display: flex;
            flex-wrap: nowrap; 
            -webkit-box-orient: vertical; 
            overflow: hidden; 
            text-overflow: ellipsis;
        }
    }
}

