<div class="layout wrapper_detail_news">
    <h3 class="subject_article_detail"></h3>
    <hr>
    <div class="content">
        <p class="detail_content_new"></p>
        <div class="wrapper is-center article_thumbnail_1">
            
        </div>
        <hr>
        <p class="time_news_detail"></p>
    </div>
</div>