<div class="layout wrapper_news">
    <ul class="list_news">
        
    </ul>
    <div class="page_bar is-center">
        <button class="number_page active">1</button>
        <button class="number_page">2</button>
        <button class="number_page">3</button>
        <button class="next">Next <i class="bi bi-chevron-right"></i></button>
        <button class="next_all"><i class="bi bi-chevron-double-right"></i></button>
        <button class="current">1/5</button>
    </div> 
</div>