<div class="layout wrapper_infor_product">
   <div class="information_product">
        <div class="level_left">
            <div class="wrapper_img_product">
                
            </div>
            <ul class="wrapper_list_img_product is-between">
                
            </ul>
        </div>
        <div class="wrapper_detail_infor">
            <h3 class="name_product"></h3>
            <p class="sub_heading"></p>
            <div class="specifications">
                <div class="specifications_left">
                    <ul class="list_specifications">
                        <li class="items_specifications">
                            <p>Brand</p>
                            <div class="text_right">
                                <p>VIETPHAT</p>
                            </div>
                        </li>
                        <li class="items_specifications">
                            <p>Metarial</p>
                            <div class="text_right">
                                <p>Al</p>
                            </div>
                        </li>
                        <li class="items_specifications">
                            <p>Mouth Width(d)</p>
                            <div class="text_right">
                                <p>2cm</p>
                            </div>
                        </li>
                        <li class="items_specifications">
                            <p>Inner Width(D)</p>
                            <div class="text_right">
                                <p>2cm</p>
                            </div>
                        </li>
                        <li class="items_specifications">
                            <p>Total Width(D1)</p>
                            <div class="text_right">
                                <p>2cm</p>
                            </div>
                        </li>
                        <li class="items_specifications">
                            <p>Inner Height(h)</p>
                            <div class="text_right">
                                <p>2cm</p>
                            </div>
                        </li>
                        <li class="items_specifications">
                            <p>Top Thickness(h1)</p>
                            <div class="text_right">
                                <p>2cm</p>
                            </div>
                        </li>
                        <li class="items_specifications">
                            <p>Total Height(H)</p>
                            <div class="text_right">
                                <p>2cm</p>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="option_products is-center">
                <button class="option btn-web">
                    <i class="bi bi-envelope"></i>
                    send email to us
                </button>
                <button class="option btn-web">
                    <i class="bi bi-file-earmark-pdf"></i>
                    download pdf
                </button>
            </div>
        </div>
   </div>
   <div class="detail_infor">
        <div class="heading is-between">
            <h3>product detail</h3>
        </div>
        <div class="layout display_product">
            <div class="heading_detail">
                <h3>Product Display</h3>
            </div>
            <div class="list_img_detail">
                
            </div>
            <p class="description_product">The handrail is a customized product, which is customized according to the customer's meter and style. Please confirm the meter carefully. If it is too long or too short, it will not be usable.</p>
            <p class="number_stock">Multiple colors available, easy customization</p>
            <hr>
            <p style="padding: 0">Previous: <span>OTIS Escalator Step Chain Pitch 135.4mm</span></p>
            <p style="padding: 0">Next: <span>OTIS Elevator Parts Escalator Chain Pitch 135.7mm</span></p>
            <hr style="padding-top: 100px;">
        </div>
   </div>
</div>
<div class="layout">
    <h1 class="title_form">Leave Your Message</h1>
    <form action="" class="form_contact">
        <ul>
            <li><input type="text" placeholder="* Name" name="name"></li>
            <li><input type="email" placeholder="* Email(We will reply you via email in 24 hours)" name="email"></li>
            <li><input type="text" placeholder="* Phone/WhatsApp/WeChat (Very important)" name="phone"></li>
            <li><input type="text" placeholder="* Subject" name="subject"></li>
            <li><textarea placeholder="* Enter product details such as size, color, materials etc. and other specific requirements to receive an accurate quote." name="message"></textarea></li>
            <li><input type="submit" value="Send" class="submit"></li>
        </ul>
    </form>
</div>

<div class="layout" style="margin-top: 70px;">
    <div class="logo_detail is-center"><h2>VIETPHAT</h2></div>
    <div class="suggest_products is-center"><h3>Related products</h3></div>
    <div class="list_suggest_img">
        <ul class="arrow_card is-between">
            <li class="item_card">
                <a href="/products/:slug" class="wrapper_img">
                    <img src="/img/products/1.jpg" alt="">
                </a>
                <div class="title_product">
                    <h3>
                        <a href="#">
                            Schindler Elevator Parts Escalator Handrails SDS SWE
                        </a>
                    </h3>
                </div>
            </li>
            <li class="item_card">
                <a href="/products/:slug" class="wrapper_img">
                    <img src="/img/products/1.jpg" alt="">
                </a>
                <div class="title_product">
                    <h3>
                        <a href="#">
                            Schindler Elevator Parts Escalator Handrails SDS SWE
                        </a>
                    </h3>
                </div>
            </li>
            <li class="item_card">
                <a href="/products/:slug" class="wrapper_img">
                    <img src="/img/products/1.jpg" alt="">
                </a>
                <div class="title_product">
                    <h3>
                        <a href="#">
                            Schindler Elevator Parts Escalator Handrails SDS SWE
                        </a>
                    </h3>
                </div>
            </li>
            <li class="item_card">
                <a href="/products/:slug" class="wrapper_img">
                    <img src="/img/products/1.jpg" alt="">
                </a>
                <div class="title_product">
                    <h3>
                        <a href="#">
                            Schindler Elevator Parts Escalator Handrails SDS SWE
                        </a>
                    </h3>
                </div>
            </li>
        </ul>
    </div>
</div>