<div class="layout is-between wrapper_products">
    <aside class="aside">
        <h4 class="aside_heading">
            categories
        </h4>
        <ul class="list_aside">
            <li class="item_aside">
                <div class="header_item_aside">
                    <a href="#">Evelator Parts</a>
                    <i class="bi bi-chevron-down btn_drop"></i>
                </div>
                <ul class="dropdown">
                    <li><a href="#">Part 1</a></li>
                    <li><a href="#">Part 2</a></li>
                    <li><a href="#">Part 3</a></li>
                </ul>
            </li>
            <li class="item_aside">
                <div class="header_item_aside">
                    <a href="#">Evelator Parts</a>
                    <i class="bi bi-chevron-down btn_drop"></i>
                </div>
                <ul class="dropdown">
                    <li><a href="#">Part 1</a></li>
                    <li><a href="#">Part 2</a></li>
                    <li><a href="#">Part 3</a></li>
                </ul>
            </li>
            <li class="item_aside">
                <div class="header_item_aside">
                    <a href="#">Evelator Parts</a>
                    <i class="bi bi-chevron-down btn_drop"></i>
                </div>
                <ul class="dropdown">
                    <li><a href="#">Part 1</a></li>
                    <li><a href="#">Part 2</a></li>
                    <li><a href="#">Part 3</a></li>
                </ul>
            </li>
            <li class="item_aside">
                <div class="header_item_aside">
                    <a href="#">Evelator Parts</a>
                    <i class="bi bi-chevron-down btn_drop"></i>
                </div>
                <ul class="dropdown">
                    <li><a href="#">Part 1</a></li>
                    <li><a href="#">Part 2</a></li>
                    <li><a href="#">Part 3</a></li>
                </ul>
            </li>
        </ul>
    </aside>
    <div class="list_products">
        <div class="wrapper_list_products">
            <ul class="arrow_card is-between">
                <li class="item_card">
                    <a href="/products/:slug" class="wrapper_img">
                        <img src="/img/products/1.jpg" alt="">
                    </a>
                    <div class="title_product">
                        <h3>
                            <a href="#">
                                Schindler Elevator Parts Escalator Handrails SDS SWE
                            </a>
                        </h3>
                    </div>
                </li>
                <li class="item_card">
                    <a href="/products/:slug" class="wrapper_img">
                        <img src="/img/products/1.jpg" alt="">
                    </a>
                    <div class="title_product">
                        <h3>
                            <a href="#">
                                Schindler Elevator Parts Escalator Handrails SDS SWE
                            </a>
                        </h3>
                    </div>
                </li>
                <li class="item_card">
                    <a href="/products/:slug" class="wrapper_img">
                        <img src="/img/products/1.jpg" alt="">
                    </a>
                    <div class="title_product">
                        <h3>
                            <a href="#">
                                Schindler Elevator Parts Escalator Handrails SDS SWE
                            </a>
                        </h3>
                    </div>
                </li>
                <li class="item_card">
                    <a href="/products/:slug" class="wrapper_img">
                        <img src="/img/products/1.jpg" alt="">
                    </a>
                    <div class="title_product">
                        <h3>
                            <a href="#">
                                Schindler Elevator Parts Escalator Handrails SDS SWE
                            </a>
                        </h3>
                    </div>
                </li>
            </ul>

            <ul class="arrow_card is-between">
                <li class="item_card">
                    <a href="/products/:slug" class="wrapper_img">
                        <img src="/img/products/1.jpg" alt="">
                    </a>
                    <div class="title_product">
                        <h3>
                            <a href="#">
                                Schindler Elevator Parts Escalator Handrails SDS SWE
                            </a>
                        </h3>
                    </div>
                </li>
                <li class="item_card">
                    <a href="/products/:slug" class="wrapper_img">
                        <img src="/img/products/1.jpg" alt="">
                    </a>
                    <div class="title_product">
                        <h3>
                            <a href="#">
                                Schindler Elevator Parts Escalator Handrails SDS SWE
                            </a>
                        </h3>
                    </div>
                </li>
                <li class="item_card">
                    <a href="/products/:slug" class="wrapper_img">
                        <img src="/img/products/1.jpg" alt="">
                    </a>
                    <div class="title_product">
                        <h3>
                            <a href="#">
                                Schindler Elevator Parts Escalator Handrails SDS SWE
                            </a>
                        </h3>
                    </div>
                </li>
                <li class="item_card">
                    <a href="/products/:slug" class="wrapper_img">
                        <img src="/img/products/1.jpg" alt="">
                    </a>
                    <div class="title_product">
                        <h3>
                            <a href="#">
                                Schindler Elevator Parts Escalator Handrails SDS SWE
                            </a>
                        </h3>
                    </div>
                </li>
            </ul>

            <ul class="arrow_card is-between">
                <li class="item_card">
                    <a href="/products/:slug" class="wrapper_img">
                        <img src="/img/products/1.jpg" alt="">
                    </a>
                    <div class="title_product">
                        <h3>
                            <a href="#">
                                Schindler Elevator Parts Escalator Handrails SDS SWE
                            </a>
                        </h3>
                    </div>
                </li>
                <li class="item_card">
                    <a href="/products/:slug" class="wrapper_img">
                        <img src="/img/products/1.jpg" alt="">
                    </a>
                    <div class="title_product">
                        <h3>
                            <a href="#">
                                Schindler Elevator Parts Escalator Handrails SDS SWE
                            </a>
                        </h3>
                    </div>
                </li>
                <li class="item_card">
                    <a href="/products/:slug" class="wrapper_img">
                        <img src="/img/products/1.jpg" alt="">
                    </a>
                    <div class="title_product">
                        <h3>
                            <a href="#">
                                Schindler Elevator Parts Escalator Handrails SDS SWE
                            </a>
                        </h3>
                    </div>
                </li>
                <li class="item_card">
                    <a href="/products/:slug" class="wrapper_img">
                        <img src="/img/products/1.jpg" alt="">
                    </a>
                    <div class="title_product">
                        <h3>
                            <a href="#">
                                Schindler Elevator Parts Escalator Handrails SDS SWE
                            </a>
                        </h3>
                    </div>
                </li>
            </ul>

            <div class="page_bar is-center">
                <button class="number_page active">1</button>
                <button class="number_page">2</button>
                <button class="number_page">3</button>
                <button class="number_page">4</button>
                <button class="number_page">5</button>
                <button class="number_page">6</button>
                <button class="next">Next <i class="bi bi-chevron-right"></i></button>
                <button class="next_all"><i class="bi bi-chevron-double-right"></i></button>
                <button class="current">Page 1 / 105</button>

            </div> 
        </div>
    </div>
</div>