<div class="wrapper_about">
    <div class="layout is-between">
        <div class="title_about">
            <div class="heading">
                who we are?
            </div>
        </div>

        .wrapp
    </div>
</div>