<div class="wrapper_about animation-top">
    <div class="layout is-between">
        <div class="title_about">
            <div class="heading">
                Chúng tôi là ai?
            </div>
            <div class="divider is-center">
                <div class="line"></div>
            </div>
            <p class="content">
                Công ty Thang Máy Việt Phát là đơn vị hàng đầu trong lĩnh vực cung cấp, lắp đặt và bảo trì thang máy tại Việt Nam. Với hơn nhiều năm kinh nghiệm, Việt Phát cam kết mang đến những giải pháp thang máy hiện đại, an toàn và thẩm mỹ, đáp ứng tối đa nhu cầu của khách hàng. Sản phẩm của công ty không chỉ đạt tiêu chuẩn quốc tế mà còn được tùy chỉnh để phù hợp với từng công trình cụ thể. Đội ngũ kỹ thuật viên chuyên nghiệp, tận tâm của Việt Phát luôn sẵn sàng đồng hành để mang lại trải nghiệm vượt trội và dịch vụ hậu mãi chu đáo. Việt Phát tự hào là đối tác đáng tin cậy, góp phần nâng cao giá trị công trình và cuộc sống.
            </p>

            <div class="quality_group is-between">
                <div class="item_quality">
                    <i class="bi bi-gem"></i>
                    Sản phẩm chất lượng
                </div>
                <div class="item_quality">
                    <i class="bi bi-person-fill"></i>
                    Đội ngũ chuyên nghiệp
                </div>
                <div class="item_quality">
                    <i class="bi bi-heart-fill"></i>
                    Dịch vụ chu đáo
                </div>
            </div>
        </div>

        <div class="wrapp_image_about">
            <img src="/img/about/2.png" alt="">
        </div>
    </div>
</div>

<div class="content_container animation-top">
    <div class="wrapper">
        <div class="content">
            <div class="title">
                Tại sao lại chọn chúng tôi
            </div>
            <div class="divider is-center">
                <div class="line"></div>
            </div>
            <div class="layout">
                <p>
                     Chúng tôi mang đến giải pháp thang máy toàn diện với chất lượng vượt trội, đảm bảo an toàn và thẩm mỹ tối ưu cho mọi công trình. Việt Phát tự hào sở hữu đội ngũ kỹ thuật viên giàu kinh nghiệm, dịch vụ hậu mãi tận tâm và thời gian thi công nhanh chóng. Sản phẩm của chúng tôi được thiết kế theo tiêu chuẩn quốc tế, tùy chỉnh linh hoạt để phù hợp với từng nhu cầu riêng biệt. Lựa chọn Việt Phát, bạn không chỉ nhận được một sản phẩm, mà còn cả sự đồng hành và cam kết bền vững.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="wrapper_about animation-top">
    <div class="layout is-between">
        <div class="wrapp_image_about">
            <img src="/img/about/2.jpg" alt="">
        </div>
        <div class="title_about">
            <div class="heading">
                Đội ngũ nhân viên
            </div>
            <div class="divider is-center">
                <div class="line"></div>
            </div>
            <p class="content">
                At Xi'an Yuanqi Elevator Parts Co., Ltd., we always strive to improve our services and provide our customers with high-quality, reliable, and durable products. We believe that customer satisfaction is our number one priority, therefore, we constantly strive to achieve this goal.
            </p>
            <p class="content">
                We have a dedicated team of nearly 200 people who work tirelessly to ensure that our clients' needs and requirements are met. Our team includes about 100 salesmen, more than ten technical team members, and more than ten after-sales service personnel. Our team is dedicated to providing exceptional customer service and support to all of our clients, no matter their size or location.
            </p>

        </div>
    </div>
</div>

<div class="content_container animation-top">
    <div class="wrapper" style="padding: 20px 0; margin: 0 0 20px 0;">
        <div class="content">
            <div class="title">
                Môi trường làm việc
            </div>
            <div class="divider is-center">
                <div class="line"></div>
            </div>
            <div class="layout">
                <div class="environment_list">
                    <div class="item_environment"><img src="/img/about/3.jpg" alt=""></div>
                    <div class="item_environment"><img src="/img/about/4.jpg" alt=""></div>
                    <div class="item_environment"><img src="/img/about/5.jpg" alt=""></div>
                    <div class="item_environment"><img src="/img/about/7.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper_about animation-top">
    <div class="heading-custumer is-center">
        Custumer Case
    </div>
    <div class="divider is-center">
        <div class="line"></div>
    </div>
    <div class="layout">
        <div class="environment_list" style="margin-top: 20px;">
            <div class="item_environment"><img src="/img/about/1.jpg" alt=""></div>
            <div class="item_environment"><img src="/img/about/1.jpg" alt=""></div>
            <div class="item_environment"><img src="/img/about/1.jpg" alt=""></div>
            <div class="item_environment"><img src="/img/about/1.jpg" alt=""></div>
        </div>
        <p style="text-align: center; margin-top: 15px">Với tư cách là một công ty, chúng tôi đã tăng trưởng đều đặn về quy mô và doanh thu. Với mục tiêu bao phủ toàn Việt Nam và có thể mở rộng xuất khẩu trong tương lai gần</p>
    </div>
</div>

<div class="content_container .reset_padding animation-top">
    <div class="wrapper" style="padding: 20px 0; margin: 0;">
        <div class="content">
            <h3 class="title">
                Chào mừng hợp tác
            </h3>
            <div class="divider is-center">
                <div class="line"></div>
            </div>
            <div class="layout">
                <p>
                    Chào mừng Quý đối tác đến với Thang Máy Việt Phát! Chúng tôi rất vinh hạnh khi được trở thành người bạn đồng hành đáng tin cậy trên hành trình phát triển của Quý vị. Với sự cam kết về chất lượng, sáng tạo và dịch vụ tận tâm, Việt Phát luôn nỗ lực mang đến những giá trị vượt ngoài mong đợi. Sự hợp tác này không chỉ là cơ hội để cùng nhau xây dựng những công trình hiện đại, mà còn là nền tảng cho một mối quan hệ bền vững, lâu dài. Chúng tôi tin rằng sự đồng hành của Quý vị chính là động lực để Việt Phát ngày càng phát triển mạnh mẽ hơn. Chúc cho sự hợp tác của chúng ta đạt nhiều thành công tốt đẹp!
                </p>
                <p class="hight_lisht" style="font-style:italic ; color:#2f904b;">
                    Nếu bạn đang tham gia vào ngành thang máy và cần sản phẩm đáng tin cậy, vui lòng liên hệ với chúng tôi. Chúng tôi sẽ rất vui lòng được phục vụ bạn.
                </p>
                <div class="btn-contact-us is-center">
                    <a href="/contact"><i class="bi bi-arrow-right-square-fill"></i>Contact Now</a>
                </div>
            </div>
        </div>
    </div>
</div>