<div class="slider_banner">
    <div class="item_slider">
        <img src="/img/slider/1.jpg" alt="" >
    </div>
    <div class="item_slider">
        <img src="/img/slider/2.jpg" alt="" >
    </div>
    <div class="item_slider">
        <img src="/img/slider/3.jpg" alt="" >
    </div>
</div>

<div class="introduct layout is-between">
    <div class="heading_intro"> 
        <h1>viet phat</h1>
        <h2>focus on <br>
            retail elevator components
        </h2>
        <div class="company_intro">
            <p class="text_intro">
                Công ty TNHH Phụ tùng thang máy Việt Phát là một công ty thương mại đã tham gia tích cực vào ngành thang máy trong nhiều năm. Công ty đặt tại đường Thiên Lôi, Hải Phòng, Việt Nam. Mục tiêu chính của chúng tôi là cung cấp phụ kiện thang máy chất lượng cao, cải tạo kết nối điện, phụ kiện thang máy và các sản phẩm liên quan cho khách hàng toàn Việt Nam
            </p>
        </div>
        <button class="btn-web more_btn_intro">Xem thêm</button>
    </div>

    <div class="company_intro_img">
        <img src="/img/slider/1.png" alt="">
    </div>

</div>

<div class="index_product layout">
    <ul class="product_tab is-between">
        <li class="tab_item is-center active">
            Tay vịn thang cuốn
        </li>
        <li class="tab_item is-center">
            Bậc thang cuốn/Pallet
        </li>
        <li class="tab_item is-center">
            Chuỗi bậc thang cuốn
        </li>
        <li class="tab_item is-center">
            Con lăn thang cuốn
        </li>
    </ul>
    <div class="list_card">
        <div class="list_card_container active">
            <ul class="arrow_card is-between">
                <li class="item_card">
                    <img src="/img/products/1.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/1.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/1.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/1.jpg" alt="">
                </li>
            </ul>
            <ul class="arrow_card is-between" style="margin-top: 20px;">
                <li class="item_card">
                    <img src="/img/products/1.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/1.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/1.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/1.jpg" alt="">
                </li>
            </ul>
        </div>

        <div class="list_card_container">
            <ul class="arrow_card is-between">
                <li class="item_card">
                    <img src="/img/products/2.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/2.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/2.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/2.jpg" alt="">
                </li>
            </ul>
            <ul class="arrow_card is-between" style="margin-top: 20px;">
                <li class="item_card">
                    <img src="/img/products/1.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/1.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/1.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/1.jpg" alt="">
                </li>
            </ul>
        </div>

        <div class="list_card_container">
            <ul class="arrow_card is-between">
                <li class="item_card">
                    <img src="/img/products/3.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/3.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/3.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/3.jpg" alt="">
                </li>
            </ul>
            <ul class="arrow_card is-between" style="margin-top: 20px;">
                <li class="item_card">
                    <img src="/img/products/3.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/3.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/3.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/3.jpg" alt="">
                </li>
            </ul>
        </div>

        <div class="list_card_container">
            <ul class="arrow_card is-between">
                <li class="item_card">
                    <img src="/img/products/4.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/4.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/4.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/4.jpg" alt="">
                </li>
            </ul>
            <ul class="arrow_card is-between" style="margin-top: 20px;">
                <li class="item_card">
                    <img src="/img/products/4.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/4.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/4.jpg" alt="">
                </li>
                <li class="item_card">
                    <img src="/img/products/4.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="index_news layout">
    <div class="heading_news is-center">
        CUSTOMER VISIT News
    </div>

    <div class="item_inner is-between">
        <div class="text_inner">
            <div class="item_time">
                DEC 4, 2024
            </div>
            <div class="item_question">
                What is the structure of VIETPHAT elevator counterweight?
            </div>
            <p>
                Đối trọng thang máy Việt Phát được thiết kế với chất lượng hàng đầu, đáp ứng mọi tiêu chuẩn khắt khe của ngành thang máy. Sản phẩm sở hữu những đặc tính nổi bật:
                Được chế tạo từ vật liệu cao cấp, đảm bảo khả năng vận hành ổn định qua hàng trăm nghìn lần sử dụng mà không hư hỏng.
                Chống oxy hóa và ăn mòn, phù hợp với mọi điều kiện môi trường.
                Lớp phủ mịn, chống mài mòn, giúp gia tăng tuổi thọ của sản phẩm.
            </p>
        </div>
        <div class="img_inner is-center">
            <img src="/img/inner/2.jpg" alt="">
        </div>
    </div>

    <div class="item_inner is-between">
        <div class="img_inner is-center">
            <img src="/img/inner/2.jpg" alt="">
        </div>
        <div class="text_inner" style="text-align: left;">
            <div class="item_time">
                DEC 4, 2024
            </div>
            <div class="item_question">
                What is the structure of VIETPHAT elevator counterweight?
            </div>
            <p>
                Đối trọng thang máy Việt Phát được thiết kế với chất lượng hàng đầu, đáp ứng mọi tiêu chuẩn khắt khe của ngành thang máy. Sản phẩm sở hữu những đặc tính nổi bật:
                Được chế tạo từ vật liệu cao cấp, đảm bảo khả năng vận hành ổn định qua hàng trăm nghìn lần sử dụng mà không hư hỏng.
                Chống oxy hóa và ăn mòn, phù hợp với mọi điều kiện môi trường.
                Lớp phủ mịn, chống mài mòn, giúp gia tăng tuổi thọ của sản phẩm.
            </p>
        </div>
    </div>
</div>

